.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 12px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-input textarea {
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
  width: -webkit-fill-available;
}

.App-title {
  font-size: 2em;
}

.App-list ul {
  list-style-type: none;
}

.App-table-header {
  font-weight: bold;
}

.row-actions {
  font-size: 1.4em;
}

.input-txt {
  margin-top: 5px;
}

.input-eg-txt {
  font-size: .9em;
  color: #9ea2a5;
  padding-bottom: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
